@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rye&display=swap');

input, select, textarea{
    color: #000000;
}

input, label, textarea{
    font-family: "Playfair Display";
}

input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

/*Tabs*/
.sheet-character,
.sheet-weapons{
	display: none;
}

.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="weapons"] ~ div.sheet-weapons{
	display: block;
}

/*Bio*/
.sheet-bio label {
    display: inline;
    font-size: 17px;
}

.sheet-bio input{
    display: inline;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
}

.sheet-bio{
    display:flex;
    flex-wrap: wrap;
}

.sheet-bio > div{
    margin-right: 10px;
    margin-bottom: 5px;
}

.sheet-age input, .sheet-height input, .sheet-BPs input{
    width: 40px;
}

.sheet-name input{
    width: auto;
}

.sheet-handedness input{
    width: 90px;
}

.sheet-gender input{
    width: 120px;
}

.sheet-weight input{
    width: 50px;
}

.sheet-race input, .sheet-nationality input, .sheet-profession input{
    width: 145px;
}

/*Logo*/
img{
    float: right;
    width: 40%;
    margin-right: 20px;
}

hr {
    display: block;
    border-top: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}

.charsheet{
    background: white;
}

h1{
    font-family: "Rye";
    padding:0px;
    margin: 0px;
    text-align: center;
}

.sheet-grid_header{
    font-family: "Rye";
    font-size: 24px;
    text-align: center;
}

.sheet-grid{
    display: grid;
    grid-template-columns: 256px 180px 400px;
    grid-template-rows: 40px 50px 80px 95px 195px;
    column-gap: 0px;
}

.sheet-abilities_grid{
    grid-row: 2/ span 4;
    grid-col: 1;
    display: grid;
    grid-template-columns: 70px 60px 116px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    column-gap: 3px;
    row-gap: 5px;
    justify-items: center;
    align-items:center;
}

.sheet-ability_label_large{
    font-size: 22px;
    font-family: "Rye";
    align-self: end;
    padding: 2px;
    margin-top: 10px;
    justify-self: center;
}

.sheet-abilities_grid label + input{
    height: 20px;
    width: 116px;
}

.sheet-abilities_grid input{
    height: 30px;
    width: 50px !important;
    align-self: start;
}

.sheet-small_label{
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    justify-self: center;
    text-align: center;
}

.sheet-mod_grid{
    display: grid;
    grid-template-columns: 116px;
    grid-template-rows: 20px 30px;
    justify-items: center;
}

.sheet-acc_speed{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sheet-acc_speed label{
    margin-top: 10px;
    display: inline;
}

.sheet-acc_speed input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 20px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.sheet-HP_grid label{

}

.sheet-hp_dash{
    font-size: 40px;
    display: inline;
}

.sheet-HP_grid input{
    width: 60px !important;
    height: 33px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.sheet-current_hp{
    margin-left: 9px;
    margin-right: 7px;
}

.sheet-HP_grid{
    grid-row: 1 / span 2;
    grid-col: 2;
}

.sheet-money_grid input{
    font-size: 21px;
    width: 180px;
    text-align: center;
}

.sheet-money_grid{
    grid-row: 3;
    grid-col: 2;
}

.sheet-skills_grid{
    grid-col: 3;
    grid-row: 1 / span 5;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 40px 160px;
    column-gap: 10px;
}

.sheet-skills_text_grid{
    display: grid;
    grid-template-columns: 182px 50px auto;
    grid-template-rows: 30px;
    column-gap: 15px;
}

.sheet-skills_text_grid label{
    font-size: 20px;
}

.sheet-skills_header{
    grid-col: 1;
    grid-row: span 2;
    margin-left: 10px;
}

.sheet-skills_header label{
    font-family: "Rye";
    font-size: 24px;
    display: inline;
}

.sheet-skill_name{
    width: 200px;
}

.sheet-skill_tallies{
    width: 50px !important;
}

.sheet-skill_mastery{
    width: 100px;
}

.sheet-skills_text_grid input{
    font-size: 15px;
    font-weight: bold;
    height: 31px;
}

.sheet-skills_repeating{
    margin-top: 0px;
}

.sheet-items_grid{
    grid-col: 2;
    grid-row: 4 / span 2;
}

.sheet-items_grid textarea{
    resize: none;
    height: 200px;
    width: 180px;
}

.sheet-weapons{
    grid-row: 1;
    grid-col: 1;
    margin-top: 10px;
}

.sheet-weapons_bio{
    display: flex;
    flex-wrap: wrap;
}

.sheet-weapons_bio input{
    margin-bottom: 5px;
}

.sheet-big_box{
    width: 430px;
}

textarea{
    font-size: 15px;
}

.sheet-repeating_weapons{
    margin-bottom: 10px;
}

.sheet-weapons_bio label{
    font-size: 17px;
}

.sheet-weapons_bio input{
    margin-right: 15px;
    font-size: 15px;
}

.sheet-damage_per_shot{
    width: 60px;
}

.sheet-weapons_range{
    display: grid;
    grid-template-columns: 80px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 55px 55px;
    grid-col: 1;
    grid-row: 3;
    margin-top: 10px;
    column-gap: 15px;
    margin-bottom: 10px;
}

.sheet-range_label{
    grid-col: 1;
    grid-row: 1;
}

.sheet-range_label label{
    font-size: 20px;
    font-weight: bold;
}

.sheet-weapons_range input{
    width: 40px;
    font-size: 15px;
}

.sheet-weapons_range label{
    text-align: center;
    font-size: 17px;
}

.sheet-weapons_button{
    grid-col: 1;
    grid-row: 2;
    height: 20px;
}
