@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rye&display=swap');

/*Bio*/
.sheet-bio label {
    display: inline;
    font-family: "Playfair Display";
    font-size: 17px;
}

.sheet-bio input{
    display: inline;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 15px;
    height: 20px;
}

.sheet-bio{
    display:flex;
    flex-wrap: wrap;
}

.sheet-bio > div{
    margin-right: 10px;
    margin-bottom: 5px;
}

.sheet-age input, .sheet-height input, .sheet-BPs input{
    width: 40px;
}

.sheet-name input{
    width: auto;
}

.sheet-handedness input{
    width: 90px;
}

.sheet-gender input{
    width: 120px;
}

.sheet-weight input{
    width: 50px;
}

.sheet-race input, .sheet-nationality input, .sheet-profession input{
    width: 145px;
}

/*Logo*/
img{
    float: right;
    width: 40%;
    margin-right: 20px;
}

hr {
    display: block;
    border-top: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}

.charsheet{
    background: white;
}

h1{
    font-family: "Rye";
    padding:0px;
    margin: 0px;
}

.sheet-grid_header{
    font-family: "Rye";
    font-size: 24px;
    text-align: center;
}

.sheet-grid{
    display: grid;
    grid-template-columns: 180px 200px auto;
    grid-template-rows: 40px 50px 80px 95px 200px;
    column-gap: 20px;
}

.sheet-abilities_grid{
    grid-row: 2/ span 3;
    grid-col: 1;
    display: grid;
    grid-template-columns: 70px 60px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
}

.sheet-abilities_grid label{
    font-size: 24px;
    font-family: "Rye";
    align-self: end;
    padding: 2px;
}

.sheet-abilities_grid input{
    height: 21px;
    width: 50px !important;
    align-self: start;
}

.sheet-HP_grid label{
    margin-top: 8px;
    margin-bottom: 10px;
}

.sheet-hp_dash{
    font-size: 40px;
    display: inline;
}

.sheet-HP_grid input{
    font-family: "Playfair Display";
    width: 60px !important;
    height: 33px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.sheet-current_hp{
    margin-left: 27px;
    margin-right: 7px;
}

.sheet-HP_grid{
    grid-row: span 2;
}

.sheet-money_grid input{
    font-family:"Playfair Display";
    font-size: 21px;
    width: 200px;
    text-align: center;
}

.sheet-money_grid{
    grid-row: 3;
    grid-col: 2;
}

.sheet-skills_grid{
    grid-col: 3;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 40px 160px;
    column-gap: 10px;
}

.sheet-skills_text_grid{
    display: grid;
    grid-template-columns: 182px 50px auto;
    grid-template-rows: 30px;
    column-gap: 15px;
}

.sheet-skills_text_grid label{
    font-family: "Playfair Display";
    font-size: 20px;
}

.sheet-skills_header{
    grid-col: 1;
    grid-row: span 2;
    margin-left: 10px;
}

.sheet-skills_header label{
    font-family: "Rye";
    font-size: 24px;
    display: inline;
}

.sheet-skill_name{
    width: 200px;
}

.sheet-skill_tallies{
    width: 50px !important;
}

.sheet-skill_mastery{
    width: 100px;
}

.sheet-skills_text_grid input{
    font-family: "Playfair Display";
    font-size: 15px;
    font-weight: bold;
    height: 31px;
}

.sheet-skills_repeating{
    margin-top: 0px;
}

.sheet-items_grid{
    grid-col: 2 / span 2;
    grid-row: 4;
}

.sheet-items_grid textarea{
    resize: none;
    height: 200px;
}

.sheet-big_box{
    width: 430px;
}

textarea{
    font-family: "Playfair Display";
    font-size: 15px;
}