@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rye&display=swap');

label {
    display: inline;
    font-family: "Playfair Display";
    font-size: 20px;
}

input{
    display: inline;
}

.sheet-bio{
    display:flex;
    flex-wrap: wrap;
}

.sheet-bio > div{
    margin-right: 10px;
    margin-bottom: 0px;
    display: flex;
}

.sheet-age input, .sheet-height input, .sheet-BPs input{
    width: 40px;
}

.sheet-name input{
    width: auto;
}

.sheet-handedness input{
    width: 90px;
}

.sheet-gender input{
    width: 120px;
}

.sheet-weight input{
    width: 50px;
}

img{
    float: right;
    width: 43%;
    margin-right: 20px;
    margin-bottom: 0;
}

.sheet-race input, .sheet-nationality input, .sheet-profession input{
    width: 150px;
}

hr {
    display: block;
    border-top: 2px solid #000000;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0;
}

.charsheet{
    background: white;
}

h2{
    font-family: "Rye";
    padding:0px;
    margin: 0px;
}

.sheet-abilities{
    display: grid;
    grid-template-columns: 130px;
    grid-template-rows: 260px;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
}

.sheet-grid{
    grid-col: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.sheet-abilities label{
    font-size: 20px;
    font-family: "Rye";
}

.sheet-grid input{
    height: 22px;
    width: 50px !important;
}
